:root {
  --branding-color: #000000;
  --secondary-color: #ffffff;
  --third-color: #00ff31;
  --heading-font-weight: 900;
}

body {
  font-family: "Montserrat", sansserif;
  font-weight: 600;
  font-style: normal;
  color: var(--branding-color);
}

h1 {
  font-weight: var(--heading-font-weight);
  font-size: 48px;
}

h2 {
  font-weight: var(--heading-font-weight);
  font-size: 30px;
}
h3 {
  font-weight: var(--heading-font-weight);
  font-size: 28px;
}
main {
  margin: 100px 0px 0px 150px;
  padding: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 40px;
  background-color: var(--secondary-color);
}
.start {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.start h3 {
  margin-top: 200px;
}
.start img {
  width: 70%;
}

.submenue {
  width: 500px;
  margin: 40px 20px;
  font-weight: var(--heading-font-weight);
}

.submenue li {
  padding: 10px;
  list-style: url("/images/arrow_right.svg");
}

.projects_grid {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 10px;
  height: 300px;
  width: 100%;
  margin-bottom: 100px;
}

.project p {
  margin: 0;
}

.project img {
  margin-bottom: 20px;
  max-height: 300px;
  text-align: center;
}
.btn-branding {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-weight: var(--heading-font-weight);
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 80px 0;
}
