:root {
  --primary-color: #000000;
  --secondary-color: #22ff00;
  --third-color: #ffffff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Montserrat", sansserif;
  font-weight: 600;
  font-style: normal;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: #000000;
}

p {
  font-size: 16px;
}

.logo {
  max-height: 40px;
  padding-right: 20px;
}
.content {
  font-weight: 900;
  margin: 200px 150px;
}
.navbar-nav {
  font-weight: 900;
}
